.mainTitle {
  font-size: 28px;
  background-color: rgb(192, 254, 207);
  background-size: 100%;
  background-image: linear-gradient(
    to right,
    rgba(192, 254, 207, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
