.movieList {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-right: 40px;
  justify-content: space-between;

}

.movieCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 200px;
}

.movieCardImg {
    width: 200px;
    height: 300px;
    &:hover {
        scale: 1.04;
      }
}

.link {
  text-decoration: none;
  color: rgba(1, 180, 228, 1);
 
  &:hover {
    color: rgba(192, 254, 207, 1);
  }
}