.headerItem {
  font-size: 30px;
  background-color: rgb(192, 254, 207);
  background-size: 100%;
  background-image: linear-gradient(
    to right,
    rgba(192, 254, 207, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  padding-top: 40px;
  &:hover {
    background-image: none;
    background-color: white;
  }
  }
  


.headerList {
  display: flex;
  margin-left: 70px;
  gap: 20px;
}

.headerSection {
  height: 80px;
  border-bottom: 1px solid white;
  background-image:url('../../../assets/movie.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
